@import "tailwindcss";

@layer components {
  .nav_link {
    @apply
      relative
      text-base
      font-medium
      w-fit
      text-white

      /* pseudo‑element underline */
      after:block
      after:content-['']
      after:absolute
      after:h-[3px]
      after:bg-emerald-400 text-white
      after:w-full

      /* transform for the hover animation */
      after:scale-x-0
      after:origin-right
      after:transition
      after:duration-300
      hover:after:scale-x-100
    ;
  }
  .text-bg{
    background-image: linear-gradient(to right, #10B981 0%,#ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track{
  background: #10B981;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb{
    background: #c5cbdc;
    border-radius: 4px;
    }
    
    
}
